@font-face {
  font-family: "logistics";
  src:url("../fonts/logistics.eot");
  src:url("../fonts/logisticsd41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/logistics.woff") format("woff"),
    url("../fonts/logistics.ttf") format("truetype"),
    url("../fonts/logistics.svg#logistics") format("svg");
  font-weight: normal;
  font-style: normal;

}
/*---------------------------------------------*/
/*menu part
/*-----------------------------------------------------*/
.main-menu {
    width: 100%;}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.main-menu > ul {
    position: relative;
    text-align: center;
    padding: 0;
}

.main-menu:after,
.main-menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.main-menu.align-right > ul > li {
    float: right;
}

.main-menu.align-center ul {
    text-align: center;
}

.main-menu.align-center ul ul {
    text-align: left;
}

.main-menu > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.main-menu > ul > #menu-button {
    display: none;
}

.main-menu ul li a {
    display: block;
    text-decoration: none;
}

.main-menu > ul > li > a {
    font-size: 14px;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    -ms-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
}

.main-menu > ul > li:hover > a {
    color: #fff;
    background: #029cce;
}

.main-menu li.has-sub::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.main-menu ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}

.main-menu ul ul ul {
    top: 37px;
    padding-left: 5px;
}

.main-menu ul ul li {
    position: relative;
}

.main-menu > ul > li:hover > ul {
    left: auto;
    top: 44px;
    opacity: 1;
}

.main-menu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}

.main-menu ul ul li:hover > ul {
    left: 200px;
    top: 0;
    opacity: 1;
}

.main-menu.align-right ul ul li:hover > ul {
    left: auto;
    right: 200px;
    top: 0;
    opacity: 1;
    padding-right: 5px;
}

.main-menu ul ul li a {
    width: 200px;
    border-bottom: 1px solid #2083d1;
    padding: 10px 15px;
    font-size: 13px;
    text-align: left;
    /* text-transform: uppercase; */
    color: #ffffff;
    background: #029cce;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.main-menu.align-right ul ul li a {
    text-align: right;
}

.main-menu ul ul li:hover > a {
    background: #333;
}

.main-menu ul ul li:last-child > a,
.main-menu ul ul li.last > a {
    border-bottom: 0;
}

/* Mobile Menu*/

#slide-buttons {
    background: #0071c1;
    display: none;
    width: 100%;
    text-align: right;
    border: none;
    font-size: 34px;
    line-height: 26px;
    position: relative;
    color: #fff;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

#slide-buttons:hover,
.c-menu__close:hover {
    opacity: 0.8;
    background: #000;
}

.c-menu {
    position: fixed;
    z-index: 3000;
/*
    background-image: url(../images/menu-mobile-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
*/
    background: #0071c1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.c-menu--slide-right {
    width: 100%;
    height: 100%;
}
button{ outline:0;}
@media all and (min-width: 320px) {
    .c-menu--slide-right {
        width: 300px;
    }
}
.c-menu .search-input {
    position: relative;
    padding: 15px 30px;
}

.c-menu .search-input button {
    position: absolute;
    right: 35px;
    top: 23px;
    background: none;
    border: none;
}

ul.slide-menu-items {
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: left;
}

ul.slide-menu-items li  {
    cursor: pointer;
}

ul.slide-menu-items li a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    padding: 5px 15px;
}

ul.slide-menu-items li ul {
    padding-left: 10px;
}

ul.slide-menu-items li ul li a {
    font-size: 13px;
}

ul.slide-menu-items li.active a,
ul.slide-menu-items li a:hover {
    opacity: 0.6;
}

ul.slide-menu-items li.has-sub {
    position: relative;
}

ul.slide-menu-items li.has-sub:after {
    font-family: "logistics" !important;
    content: "\70";
    position: absolute;
    right: 15px;
    top: 2px;
    color: #ffffff;
    font-size: 20px;
}

ul.slide-menu-items li.has-sub.open:after {
    font-family: "logistics" !important;
    content: "\6f";
    position: absolute;
    right: 15px;
    top: 2px;
    color: #ffffff;
    font-size: 20px;
}

ul.slide-menu-items li.has-sub > ul {
    display: none;
}

.c-menu--slide-right .c-menu__close {
    padding: 5px;
}

.c-menu--slide-right {
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .c-menu--slide-right {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
    }
}

.c-menu--slide-right.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.c-menu__close {
    color: #fff;
    background-color: transparent;
    font-size: 34px;
    line-height: 26px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.c-menu__close:focus {
    outline: none;
}
.slide-overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.slide-overlay.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.c-menu .info {
    position: relative;
    z-index: 5000;
    padding: 40px 30px 0;
}

.c-menu .info ul {
    padding: 0;
    border: 1px solid #ffffff;
    padding: 15px 15px;
}

.c-menu .info ul li {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

.c-menu .info ul li.last, 
.c-menu .info ul li p {
    margin: 0;
}

.c-menu .info ul li p span {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.c-menu .info ul li p span.heading {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.icon-navicon:before {
  content: "\64";
}
.icon-close:before {
  content: "\63";
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "logistics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}