<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- 
    <add name="mycon" connectionString="Data Source=Machine4;Initial Catalog=memy;Integrated Security=True" providerName="System.Data.SqlClient"/>
      <add name="mycon" connectionString="Data Source=98.130.0.27;Initial Catalog=suvidha_ackgrp456; User id=suvidha_ackgGup; Password=Ack435092; Integrated Security=False" providerName="System.Data.SqlClient"/>


   -->
    <add name="mycon" connectionString="Data Source=sql5002.site4now.net;Initial Catalog=db_a3f45a_suvidha; Connection Timeout=300; User id=DB_A3F45A_suvidha_admin; Password=Suvidh4785*; Integrated Security=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="100000"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <machineKey validationKey="69FF5F5A1D0B067C9E4FDCABF0589B5CD44A6E43BA8998990B56FC4E0FE31F6F6C238F8A9A6D6557FD21A17E2E2249BE4933D9293C27CB1173020D6B8676DF74" decryptionKey="0AE9AF8FAE9F3ED1C11A24354E96630D664CBBF744CAAC69F15FE2B2EC475B65" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect http://mydomain.com to http://www.mydomain.com HTTP" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^suvidhajobs.in$"/>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="http://www.suvidhajobs.in/{R:0}" redirectType="Permanent" appendQueryString="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>